<p>Cuerpo de la Tabla</p>
<div id="TISE" [hidden]="visibleDivId !== 'TISE'">
    <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Tipo de Servicio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of tiseData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ servicio.TIPO_SERVICIO }}</td>
          </tr>
        </tbody>
    </table>
</div>
<div id="RED" [hidden]="visibleDivId !== 'RED'"></div>
<div id="PLAN" [hidden]="visibleDivId !== 'PLAN'"></div>
<div id="PROV" [hidden]="visibleDivId !== 'PROV'"></div>
<div id="CITY" [hidden]="visibleDivId !== 'CITY'"></div>
<div id="SECT" [hidden]="visibleDivId !== 'SECT'"></div>