#content{
    display: flex;
    flex-direction: column;
    height: 100%;

    // app-header-table{
    //     width: 100%;
    //     height: 10%;
    // }
    // app-body-table{
    //     width: 100%;
    //     height: 90%;
    // }
}