# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Local development
venv/
.idea/
# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# PyCharm
.idea/