<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
  <div class="sidebar"></div>
  <div class="contentContainer">
    <div class="header">
      <div class="logoMenu">
        <span class="material-symbols-outlined">menu</span>
        <img class="logo_png" src="assets/xtrim_black.png" >
      </div>
      <div class="menu">
        <a href="#" class="support">Soporte</a>
        <label>Hora</label>
      </div>
    </div>
  </div>
</div>