<div *ngIf="pa_state" class="modal_dp" [ngClass]="{'door-open': pa_state}" id="modal_dp-{{rowId+1}}">
    <div class="modal-header">
      <span class="modal-title">PROMOCIONES ADICIONALES - F# {{rowId+1}}</span>
      <button class="close-button" (click)="closeModalProductosAdicionales()">×</button>
    </div>
    <div class="modal-body">
        <div id="dat_promo">
            <div id="dat_promo_butt">
                <div id="content_btn_dtpro_dropdown">
                    <button id="btn_dtpro_promo" (click)="openDropDown()">Promoción Adicional</button>
                    <div [ngClass]="{'show': showPROAD[rowId], 'closing': closing}" class="dropdown">
                        <ul>
                            <li *ngFor="let op of optionsData[rowId]; let i = index">
                                <input type="checkbox" [(ngModel)]="op.selected" (change)="updateSelection(i)"
                                [value]="op.name" />{{ op.name }} 
                            </li>
                        </ul>
                    </div>
                </div>
                <button id="btn_dtpro_send" (click)="sendDiccionario()">Enviar</button>
            </div>
        </div>
        <div id="pro_adici">
            <div id="streaming" *ngIf="optionsData[rowId][1].selected">
                <div class="content_streaming">
                    <label><strong>STREAMING  #{{selectedTableIndex[rowId] + 1}}</strong></label>
                    <table>
                        <tr>
                            <td><span>PAQUETE</span></td>
                            <td>
                                <select name="PRAD_V1" [(ngModel)]="rowData.tablas[selectedTableIndex[rowId]].PRAD_V1"
                                (ngModelChange)="getPrecioRegular(rowData.tablas[selectedTableIndex[rowId]].PRAD_V1, 'STREAMING')">
                                    <option [value]="">PAQ. STREAMING</option>
                                    <option *ngFor="let plan of paquetesStreaming[rowId]" [value]="plan.TARIFFPLANVARIANTID">{{ plan.TARIFFPLANVARIANT }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngFor="let precioRegular of precioRegularStreamingData[rowId]?.[selectedTableIndex[rowId]]">
                            <td>
                                <span>PRE. REGULAR $${{ precioRegular.PRECIO }}</span>
                            </td>
                            <td>
                                <div id="precio_content">                                    
                                    <input name="PRAD_ST_V2" [(ngModel)]="rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V2"
                                    (ngModelChange)="getPrecMIniMFinCantidad(rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V2, rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V3, rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V4, 0, 'STREAMING')"
                                    placeholder="Ing. Pr. Promocional" type="number" [min]="1" [max]="precioRegular.PRECIO"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MES INICIAL</span></td>
                            <td>
                                <input name="PRAD_ST_V3" [(ngModel)]="rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V3"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V2, rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V3, rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V4, 0, 'STREAMING')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MES FINAL</span></td>
                            <td>
                                <input name="PRAD_ST_V4" [(ngModel)]="rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V4"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V2, rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V3, rowData.tablas[selectedTableIndex[rowId]].PRAD_ST_V4, 0, 'STREAMING')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="streaming_items">
                    <button id="btn_new_table" (click)="addNewTable()">Nueva Tabla</button>
                    <select class="change_table" (change)="changeTable($event)">
                        <option>Cambiar de Tabla</option>
                        <option *ngFor="let table of rowData.tablas; let i = index" [value]="i">Tabla #{{i+1}}</option>
                    </select>
                </div>
            </div>
            <div id="telefonia" *ngIf="optionsData[rowId][2].selected">
                <label><strong>TELEFONIA</strong></label>
                <div id="content_telefonia">
                    <table>
                        <tr>
                            <td><span>PLANES</span></td>
                            <td>
                                <select name="PRAD_TF_V1" [(ngModel)]="rowData.PRAD_TF_V1"
                                (ngModelChange)="getPrecioRegular(rowData.PRAD_TF_V1, 'TELEFONIA');">
                                    <option [value]="">PLAN. TELEFONICO</option>
                                    <option *ngFor="let plan of planesTelefonicos[rowId]" [value]="plan.TARIFFPLANVARIANTID">{{ plan.TARIFFPLANVARIANT }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngFor="let precioRegular of precioRegularTelefoniaData[rowId]">
                            <td>
                                <span>PRE. REGULAR ${{precioRegular.PRECIO}}</span>
                            </td>
                            <td>
                                <div id="precio_content">
                                    <input name="PRAD_TF_V2" 
                                    (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TF_V2, rowData.PRAD_TF_V4, rowData.PRAD_TF_V5, rowData.PRAD_TF_V3, 'TELEFONIA')"
                                    [(ngModel)]="rowData.PRAD_TF_V2" placeholder="Ing. Pr. Promocional" type="number" [min]="1" [max]="precioRegular.PRECIO"/>    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>CANTIDAD</span></td>
                            <td>
                                <input name="PRAD_TF_V3" [(ngModel)]="rowData.PRAD_TF_V3" 
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TF_V2, rowData.PRAD_TF_V4, rowData.PRAD_TF_V5, rowData.PRAD_TF_V3, 'TELEFONIA')"
                                type="number" [min]="1"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MESES INICIAL</span></td>
                            <td>
                                <input name="PRAD_TF_V4" [(ngModel)]="rowData.PRAD_TF_V4" 
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TF_V2, rowData.PRAD_TF_V4, rowData.PRAD_TF_V5, rowData.PRAD_TF_V3, 'TELEFONIA')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MESES FINAL</span></td>
                            <td>
                                <input name="PRAD_TF_V5" [(ngModel)]="rowData.PRAD_TF_V5" 
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TF_V2, rowData.PRAD_TF_V4, rowData.PRAD_TF_V5, rowData.PRAD_TF_V3, 'TELEFONIA')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="television" *ngIf="optionsData[rowId][3].selected">
                <label><strong>TELEVISION</strong></label>
                <div id="content_television">
                    <table>
                        <tr>
                            <td><span>PLANES</span></td>
                            <td>
                                <select name="PRAD_TV_V1" [(ngModel)]="rowData.PRAD_TV_V1"
                                (ngModelChange)="getPrecioRegular(rowData.PRAD_TF_V1, 'TELEVISION')">
                                    <option [value]="">PLAN. TELEVISION</option>
                                    <option *ngFor="let plan of planesTelevisivos[rowId]" [value]="plan.TARIFFPLANVARIANTID">{{ plan.TARIFFPLANVARIANT }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngFor="let precioRegular of precioRegularTelevisioData[rowId]">
                            <td>
                                <span>PRE. REGULAR ${{precioRegular.PRECIO}}</span>
                            </td>
                            <td>
                                <div id="precio_content">
                                    <input name="PRAD_TV_V2" [(ngModel)]="rowData.PRAD_TV_V2"
                                    (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TV_V2, rowData.PRAD_TV_V4, rowData.PRAD_TV_V5, rowData.PRAD_TV_V3, 'TELEVISION')"
                                    placeholder="Ing. Pr. Promocional" type="number" [min]="1" [max]="precioRegular.PRECIO"/>    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>CANTIDAD</span></td>
                            <td>
                                <input name="PRAD_TV_V3" [(ngModel)]="rowData.PRAD_TV_V3"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TV_V2, rowData.PRAD_TV_V4, rowData.PRAD_TV_V5, rowData.PRAD_TV_V3, 'TELEVISION')"
                                type="number"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MESES INICIAL</span></td>
                            <td>
                                <input name="PRAD_TV_V4" [(ngModel)]="rowData.PRAD_TV_V4"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TV_V2, rowData.PRAD_TV_V4, rowData.PRAD_TV_V5, rowData.PRAD_TV_V3, 'TELEVISION')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MESES FINAL</span></td>
                            <td>
                                <input name="PRAD_TV_V5" [(ngModel)]="rowData.PRAD_TV_V5"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_TV_V2, rowData.PRAD_TV_V4, rowData.PRAD_TV_V5, rowData.PRAD_TV_V3, 'TELEVISION')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="router" *ngIf="optionsData[rowId].length > 4 && optionsData[rowId][4].selected">
                <label><strong>ROUTER</strong></label>
                <div id="content_television">
                    <table>
                        <tr>
                            <td><span>ROUTER</span></td>
                            <td>
                                <select name="PRAD_RT_V1" [(ngModel)]="rowData.PRAD_RT_V1"
                                (ngModelChange)="getPrecioRegular(rowData.PRAD_TF_V1, 'ROUTER')">
                                    <option [value]="">MODELO ROUTER</option>
                                    <option *ngFor="let modelo of modelosRouter[rowId]" [value]="modelo.PRODUCTID">{{modelo.PRODUCTO}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr *ngFor="let precioRegular of precioRegularRouter[rowId]">
                            <td>
                                <span>PRE. REGULAR ${{precioRegular.PRECIO}}</span>
                            </td>
                            <td>
                                <div id="precio_content">
                                    <input name="PRAD_RT_V2" [(ngModel)]="rowData.PRAD_RT_V2"
                                    (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_RT_V2, rowData.PRAD_RT_V4, rowData.PRAD_RT_V5, rowData.PRAD_RT_V3, 'ROUTER')"
                                    placeholder="Ing. Pr. Promocional" type="number" [min]="1" [max]="precioRegular.PRECIO"/>    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>CANTIDAD</span></td>
                            <td>
                                <input name="PRAD_RT_V3" [(ngModel)]="rowData.PRAD_RT_V3"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_RT_V2, rowData.PRAD_RT_V4, rowData.PRAD_RT_V5, rowData.PRAD_RT_V3, 'ROUTER')"
                                type="number" [min]="1"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MESES INICIAL</span></td>
                            <td>
                                <input name="PRAD_RT_V4" [(ngModel)]="rowData.PRAD_RT_V4"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_RT_V2, rowData.PRAD_RT_V4, rowData.PRAD_RT_V5, rowData.PRAD_RT_V3, 'ROUTER')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                        <tr>
                            <td><span>MESES FINAL</span></td>
                            <td>
                                <input name="PRAD_RT_V5" [(ngModel)]="rowData.PRAD_RT_V5"
                                (ngModelChange)="getPrecMIniMFinCantidad(rowData.PRAD_RT_V2, rowData.PRAD_RT_V4, rowData.PRAD_RT_V5, rowData.PRAD_RT_V3, 'ROUTER')"
                                type="number" [min]="2" [max]="24"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>