<div id="menu">
    <a href="#">Combos Predefinidos</a>
      <ul class="menu-links">
        <li class="nav-link">
            <button class="btn_Combo">Combo 1</button>
        </li>
        <li class="nav-link">
            <button class="btn_Combo">Combo 2</button>
        </li>
        <li class="nav-link">
            <button class="btn_Combo">Combo 3</button>
        </li>
        <li class="nav-link">
            <button class="btn_Combo">Combo 4</button>
        </li>
        <li class="nav-link">
            <button class="btn_Combo">Combo 5</button>
        </li>
        <li class="nav-link">
            <button class="btn_Combo">Combo 6</button>
        </li>
      </ul>
    <button class="btn_Consulta">Consulta Personalizada</button>
</div>