<div *ngIf="dp_state" class="modal_dp" [ngClass]="{'door-open': dp_state}" id="modal_dp-{{rowId+1}}">
  <div class="modal-header">
    <span class="modal-title">Datos de Promocion - F# {{rowId+1}}</span>
    <button class="close-button" (click)="closeModalDatosPromocionales()">×</button>
  </div>
  <div class="modal-body">
    <div class="body1">
      <div class="b11">
        <div class="b11_1">
          <span>SERVICIO</span>
          <select name="_V4" [(ngModel)]="rowData._V4" (ngModelChange)="getPLAN(rowData._V4); getUpgrade(rowData._V4, rowData._V5, rowData._V6)">
            <option value="">Elija el Servicio</option>
            <option *ngFor=" let servicio of serviciosData" [value]="servicio" >{{servicio}}</option>
          </select>
        </div>
        <div class="b11_2">
          <span>PLANES</span>
          <select name="_V5" [(ngModel)]="rowData._V5" (ngModelChange)="getPLANVARIANT(rowData._V5); getUpgrade(rowData._V4, rowData._V5, rowData._V6)">
             <option value="">Elija un Plan</option>
             <option value="" *ngIf="planData[rowId]?.length === 0 || !rowData._V4">Selecc. antes los otros elementos</option>
             <option value="" *ngIf="!planData[rowId] && rowData._V4">Cargando Datos..</option>
             <option *ngFor=" let plan of planData[rowId]" [value]="plan.TARIFFPLANID" >{{plan.TARIFFPLAN}}</option>    
         </select>
        </div>
        <div class="b11_3">
          <span>VARIANTES</span>
          <select name="_V6" [(ngModel)]="rowData._V6" (ngModelChange)="getPROD_CiudadesTariffplanVariantProducto(rowData._V6, rowData._V7);
          getUpgrade(rowData._V4, rowData._V5, rowData._V6)">
              <option value="">Elija un Plan Variant</option>
              <option value="" *ngIf="planVData[rowId]?.length === 0 || !rowData._V5">Selecc. antes los otros elementos</option>
              <option value="" *ngIf="!planVData[rowId] && rowData._V5">Cargando Datos..</option>
              <option *ngFor=" let planV of planVData[rowId]" [value]="planV.TARIFFPLANVARIANTID" >{{planV.TARIFFPLANVARIANT}}</option>    
          </select>
        </div>
      </div>
      <div class="b12">
        <div class="b12_1">
          <span>PRODUCTOS</span>
          <select name="_V7" [(ngModel)]="rowData._V7" (ngModelChange)="getPROD_CiudadesTariffplanVariantProducto(rowData._V6, rowData._V7)">
              <option value="">Elija un Producto</option>
              <option value="" *ngIf="productosData[rowId]?.length === 0 || !rowData._V6">Selecc. antes los otros elementos</option>
              <option value="" *ngIf="!productosData[rowId] && rowData._V6">Cargando Datos..</option>
              <option *ngFor=" let prod of productosData[rowId]" [value]="prod.PRODUCTID" >{{prod.PRODUCTO}}</option>    
          </select>
        </div>
        <div class="b12_2">
          <span>CANALES</span>
          <select name="_V8" [(ngModel)]="rowData._V8"
          (ngModelChange)="getCanalesPrecioUpgradeMIiMf(rowData._V8, rowData._V13, rowData._V15, rowData._V16, rowData._V17)">
            <option value="">Elije un Canal</option>
            <option *ngFor=" let canal of canalData[rowId] " [value]="canal.ID">{{canal.NAME}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="body2">
      <div class="b21">
        <div class="mp">
          <button id="button" (click)="openDropDown('MP')">FORMA DE PAGO</button>
          <div [ngClass]="{'show': showDDMP[rowId], 'closing': closing}" class="dropdown">
            <ul>
              <li *ngFor="let mdpg of modoPagosData[rowId]">
                <input type="checkbox" name="_V9" [value]="mdpg.ID" [(ngModel)]="mdpg.selected"/>{{ mdpg.NAME }} 
              </li>
            </ul>
          </div>
        </div>
        <div class="b">
          <button id="button" (click)="openDropDown('B')">BURO DE CREDITO</button>
          <div [ngClass]="{'show': showDDB[rowId], 'closing': closing}" class="dropdown">
            <ul>
              <li>
                <input type="checkbox" (change)="toggleSelectAllCheckboxes($event, 'B')"/> Seleccionar/Deseleccionar Todos
              </li>
              <li *ngFor="let buro of buroData[rowId]">
                <input type="checkbox" name="_V10" [value]="buro.ID" [(ngModel)]="buro.selected"/>{{buro.NAME}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="b22">
        <button id="button" (click)="openModalCiudades_y_Sectores()">Ciudades y Sectores</button>
      </div>
    </div>
    <div class="body3">
      <div id="dat_promo_ing">
        <div id="precios" *ngFor="let precioRegular of precioRegularData[rowId]">
          <div id="precio_content">
            <span>PRECIO REGULAR: ${{ precioRegular.PRECIO }}</span>
            <input class="numeros" name="_V13" type="number" [(ngModel)]="rowData._V13" [min]="1" [max]="precioRegular.PRECIO" 
            (ngModelChange)="validatePrice($event, precioRegular.PRECIO); getCanalesPrecioUpgradeMIiMf(rowData._V8, rowData._V13, rowData._V15, rowData._V16, rowData._V17)" 
            [class.invalid]="!precValid[rowId]"
            placeholder="Ingrese un Precio Promocional"/>
          </div>
          <div class="error-message" *ngIf="precValid[rowId]">
            El precio promocional no puede ser menor o igual a 0 ni superar el precio regular.
          </div>
        </div>
        <div id="dias" *ngIf="diasGozadosData[rowId]">
          <span>DIAS GOZADOS</span>
          <div id="checklist">
            <ul>
              <li *ngFor="let dias of diasGozadosData[rowId]">
                <input type="radio" name="_V14" [value]="dias.NAME" [(ngModel)]="dias.selected"/> {{dias.NAME}}
              </li>
            </ul>
          </div>
        </div>
        <div id="upgrade" *ngIf="upgradeData[rowId]">
          <span>UPGRADE</span>
          <button id="button" (click)="openModalUpgrade()">CONFIGURAR UPGRADE</button>
        </div>
        <div id="meses">
          <span>MES DE INICIO Y FINALIZACION</span>
          <div class="content_meses">
            <div class="ini">
              <span>INICIO</span>
              <input name="_V19" class="numeros" type="number" [min]="0" [max]="24" [(ngModel)]="rowData._V19"
              (ngModelChange)="getCanalesPrecioUpgradeMIiMf(rowData._V8, rowData._V13, rowData._V15, rowData._V19, rowData._V20)"/>
            </div>
            <div class="fin">
              <span>FIN</span>
              <input name="_V20" class="numeros" type="number" [min]="1" [max]="24" [(ngModel)]="rowData._V20"
              (ngModelChange)="getCanalesPrecioUpgradeMIiMf(rowData._V8, rowData._V13, rowData._V15, rowData._V19, rowData._V20)"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body_pa">
      <div class="permitir_pa">
        <input type="checkbox" [(ngModel)]="permitirPA" />
        <span>Permitir Productos Adicionales?</span>
      </div>
      <div class="content_btn_pa" *ngIf="permitirPA">
        <button id="button" (click)="openModalProductosAdicionales()">Productos Adicionales</button>
      </div>
    </div>
  </div>
</div>
<app-modal-ciudadesysectores />
<app-modal-promociones-adicionales />
<app-modal-entidades />
<app-modal-tarjetas />
<app-modal-upgrade />
