.modal_dp {
    .modal-body {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%; 
        font-size: 7pt;

        .body1{
            margin-bottom: 10px;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            padding: 5px;
            margin-bottom: 10px;
            .b11, .b12{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5px;
                .b11_1, .b11_2, .b11_3{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 5px;
                }
            }

            .b12{
                margin-top: 10px;
                .b12_1, .b12_2{
                    width: 35%;
                    padding: 5px;
                }
            }
        }

        .body2{
            margin-bottom: 10px;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            padding: 5px;
            .b21{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
                margin-bottom: 5px;
            }
            .b22{
                justify-content: center;
            }
        }

        .body3{
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            margin-bottom: 10px;
            #dat_promo_ing {
                display: flex;
                flex-direction: row; 
                gap: 5px; 
                margin: 5px;
                #precios, #dias, #upgrade, #meses{
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px 12px;
                    font-size: 7pt;
                    width: 100%;
                }
                #precio_content{
                    .numeros{
                        width: 95%;
                    }
                }
                #dias {
                    align-items: center;
                    ul{
                        list-style: none;  // Elimina los puntos de los items de lista *
                        padding: 0;        // Elimina el padding predeterminado *
                        margin: 5px 5px;         // Elimina el margen predeterminado para asegurarnos que no hay espacio extra *
                        width: 100%; // Ocupa el ancho completo para centrar los botones internamente *
                        display: flex; // Utiliza flex para facilitar la alineación *
                        flex-direction: column; // Alinea los elementos verticalmente *
                        font-size: 7pt;
                    }
                    li{
                        list-style: none;  // Asegura que no hay marcadores de lista *
                        width: 100%; // Ocupa el ancho completo para mejor alineación *
                        display: flex; // Utiliza flexbox para facilitar la alineación *
                        align-items: center; // Alinea verticalmente los elementos *
                    }
                }
                #upgrade{
                    #button{
                        margin-top: 10px;
                    }
                }
                #meses{
                    .content_meses{
                        margin-top: 4px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        .content_ini, .content_fin{
                            display: flex;
                            flex-direction: column;
                            .ini{
                                display: flex;
                                flex-direction: row;
                                span{
                                    width: 40px;
                                    display: flex; // Utiliza flexbox para facilitar la alineación *
                                    align-items: center; // Alinea verticalmente los elementos *
                                }
                                .numeros{
                                    margin-top: 0;
                                    width: 100%;
                                }    
                            }
                            .fin{
                                display: flex;
                                flex-direction: row;
                                margin-top: 4px;
                                span{
                                    width: 40px;
                                    display: flex; // Utiliza flexbox para facilitar la alineación *
                                    align-items: center; // Alinea verticalmente los elementos *
                                }
                                .numeros{
                                    margin-top: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .body_pa{
            display: flex;
            flex-direction: column;
            padding: 5px;
            .permitir_pa{
                display: flex;
                justify-content: center;
                margin-bottom: 4px;
                span{
                    display: flex; // Utiliza flexbox para facilitar la alineación *
                    align-items: center; // Alinea verticalmente los elementos *
                }
            }
        }
    }
}