<div *ngIf="dp_state" class="modal_dp" [ngClass]="{'door-open': dp_state}" id="modal_dp-{{rowId+1}}">
  <div class="modal-header">
    <span class="modal-title">Datos de Promocion - F# {{rowId+1}}</span>
    <button class="close-button" (click)="closeModalDatosPromocionales()">×</button>
  </div>
  <div class="modal-body">
    <div class="body1">
      <div class="b11">
        <div class="b11_1">
          <span>SERVICIO</span>
          <select name="_V4" [(ngModel)]="rowData[rowId]._V4">
            <option value="">Elija el Servicio</option>
            <option *ngFor=" let servicio of serviciosData" [value]="servicio" >{{servicio}}</option>
          </select>
        </div>
        <div class="b11_2">
          <span>PLANES</span>
          <select name="_V5">
             <option value="">Elija un Plan</option>
             <!-- <option value="" *ngIf="planData[rowId].length === 0 && !row._V1">Selecc. antes los otros elementos</option>
             <option value="" *ngIf="planData[rowId].length === 0 && row._V1">Cargando Datos..</option> -->
             <option *ngFor=" let plan of planData[rowId]" [value]="plan.TARIFFPLANID" >{{plan.TARIFFPLAN}}</option>    
         </select>
        </div>
        <div class="b11_3">
          <span>VARIANTES</span>
          <select name="_V6">
              <option value="">Elija un Plan Variant</option>
              <!-- <option value="" *ngIf="planVData[rowId].length === 0 && !row._V2">Selecc. antes los otros elementos</option>
              <option value="" *ngIf="planVData[rowId].length === 0 && row._V2">Cargando Datos..</option> -->
              <option *ngFor=" let planV of planVData[rowId]" [value]="planV.TARIFFPLANVARIANTID" >{{planV.TARIFFPLANVARIANT}}</option>    
          </select>
        </div>
      </div>
      <div class="b12">
        <div class="b12_1">
          <span>PRODUCTOS</span>
          <select name="_V7">
              <option value="">Elija un Producto</option>
              <!-- <option value="" *ngIf="productosData[rowId].length === 0 && !row._V2">Selecc. antes los otros elementos</option>
              <option value="" *ngIf="productosData[rowId].length === 0 && row._V2">Cargando Datos..</option> -->
              <option *ngFor=" let prod of productosData[rowId]" [value]="prod.PRODUCTID" >{{prod.PRODUCTO}}</option>    
          </select>
        </div>
        <div class="b12_2">
          <span>CANALES</span>
          <select name="_V8">
            <option value="">Elije un Canal</option>
            <option *ngFor=" let canal of canalData[rowId] " [value]="canal.ID">{{canal.NAME}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="body2">
      <div class="b21">
        <div class="mp">
          <button id="button" (click)="openDropDown('MP')">FORMA DE PAGO</button>
          <div [ngClass]="{'show': showDDMP[rowId], 'closing': closing}" class="dropdown">
            <ul>
              <li *ngFor="let mdpg of modoPagosData[rowId]">
                <input type="checkbox" name="_V9" [value]="mdpg.ID" />{{ mdpg.NAME }} 
              </li>
            </ul>
          </div>
        </div>
        <div class="b">
          <button id="button" (click)="openDropDown('B')">BURO DE CREDITO</button>
          <div [ngClass]="{'show': showDDB[rowId], 'closing': closing}" class="dropdown">
            <ul>
              <li *ngFor="let buro of buroData[rowId]">
                <input type="checkbox" name="_V10" [value]="buro.ID"/>{{buro.NAME}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="b22">
        <button id="button" (click)="openModalCiudades_y_Sectores()">Ciudades y Sectores</button>
      </div>
    </div>
    <div class="body3">
      <div id="dat_promo_ing">
        <div id="precios">
          <div id="precio_content">
            <span>PRECIO REGULAR:</span>
            <input class="numeros" name="_V13"type="number" [min]="1"/>
          </div>
        </div>
        <div id="dias">
          <span>DIAS GOZADOS</span>
          <div id="checklist">
            <ul>
              <li *ngFor="let dias of diasGozadosData[rowId]">
                <input type="radio" name="_V14" [value]="dias.NAME" /> {{dias.NAME}}
              </li>
            </ul>
          </div>
        </div>
        <div id="upgrade" *ngIf="!upgradeData[rowId]">
          <span>UPGRADE</span>
          <select name="_V15">
            <option value="">Selecciona un UPGRADE</option>
            <option *ngFor=" let upgrade of upgradeData[rowId]" [value]="upgrade.ID" >{{upgrade.PLAN_UPGRADE}}</option>   
          </select>
        </div>
        <div id="meses">
          <span>MES DE INICIO Y FINALIZACION</span>
          <div class="content_meses">
            <div class="ini">
              <span>INICIO</span>
              <input name="_V16" class="numeros" type="number" [min]="0" [max]="24"/>
            </div>
            <div class="fin">
              <span>FIN</span>
              <input name="_V17" class="numeros" type="number" [min]="1" [max]="24"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body_pa">
      <div class="permitir_pa">
        <input type="checkbox" [(ngModel)]="permitirPA" />
        <span>Permitir Productos Adicionales?</span>
      </div>
      <div class="content_btn_pa" *ngIf="permitirPA">
        <button id="button" (click)="openModalProductosAdicionales()">Productos Adicionales</button>
      </div>
    </div>
  </div>
</div>
<app-modal-ciudadesysectores />
<app-modal-promociones-adicionales />
<app-modal-entidades />
<app-modal-tarjetas />
