.dropdown {
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    width: 100%; // Asegura que el contenedor del dropdown toma el ancho completo *
    background-color: #f9f9f9f9;
    border-radius: 10px;
    &.closing {
        transition: max-height 0.3s ease-out; // Transición más rápida para cerrar
    }
}

.dropdown.show {
    max-height: 1000px; // Un valor suficientemente alto para mostrar todo el contenido *
}

// Estilos para eliminar el padding y los marcadores de lista *
.dropdown ul {
    list-style: none;  // Elimina los puntos de los items de lista *
    padding: 0;        // Elimina el padding predeterminado *
    margin: 5px 5px;         // Elimina el margen predeterminado para asegurarnos que no hay espacio extra *
    width: 100%; // Ocupa el ancho completo para centrar los botones internamente *
    display: flex; // Utiliza flex para facilitar la alineación *
    flex-direction: column; // Alinea los elementos verticalmente *
    font-size: 7pt;
}
  
.dropdown li {
    list-style: none;  // Asegura que no hay marcadores de lista *
    width: 100%; // Ocupa el ancho completo para mejor alineación *
    display: flex; // Utiliza flexbox para facilitar la alineación *
    align-items: center; // Alinea verticalmente los elementos *
}

select {
    padding: 8px; // Más espacio dentro del select *
    border: 1px solid #ccc; //Borde sutil *
    border-radius: 4px; // Bordes ligeramente redondeados para el select *
    font-size: 7pt; // Tamaño de fuente más grande para select *
    width: 100%; // Hace que el select ocupe todo el espacio de la celda *
    box-sizing: border-box; // Incluye el padding y border en el ancho total *
    margin-top: 4px;
}

input.numeros{
    margin-top: 4px;
    width: 100%;
    height: 20px;
    border: 0.5px solid #615a5a;
    border-radius: 4px;
    padding: 2.5px;
    text-align: right;
}

#button {
    display: block; /* Hace que los botones se comporten como bloques */
    margin: 0 auto; /* Centra los botones horizontalmente */
    text-align: center; /* Alinea el texto dentro del botón al centro */
    cursor: pointer; /* Indica que es un elemento interactivo */
    padding: 8px; /* Más espacio dentro del select */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes ligeramente redondeados para el select */
    width: 200px; /* Hace que el select ocupe todo el espacio de la celda */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    background-color: #ffffff;
    font-size: 7pt;
    &:hover {
        background-color: #eee;
    }
}

.modal_dp {
    background-color: white;
    border-radius: 10px;
    max-width: 1000px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    flex-direction: column;
    animation: doorOpen 0.5s;
    border: 2px solid #ccc;
    z-index: 1000;

    .door-open {
        animation-name: doorOpen;
    }
    
    @keyframes doorOpen {
        0% { transform: translate(-50%, -50%) rotateY(90deg); }
        100% { transform: translate(-50%, -50%) rotateY(0deg); }
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;

        .modal-title {
            font-weight: bold;
        }
        
        button.close-button {
            background: none;
            border: none;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: #e4e4e4
            }
        }
    }
    
    .modal-body {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%; 
        font-size: 7pt;

        .body1{
            margin-bottom: 10px;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            padding: 5px;
            margin-bottom: 10px;
            .b11, .b12{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5px;
                .b11_1, .b11_2, .b11_3{
                    display: flex;
                    flex-direction: column;
                    //border-radius: 10px;
                    //border: 0.5px solid #ccc;
                    width: 100%;
                    padding: 5px;
                }
            }

            .b12{
                margin-top: 10px;
                .b12_1, .b12_2{
                    //border-radius: 10px;
                    //border: 0.5px solid #ccc;
                    width: 35%;
                    padding: 5px;
                }
            }
        }

        .body2{
            margin-bottom: 10px;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            padding: 5px;
            .b21{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
                margin-bottom: 5px;
            }
            .b22{
                justify-content: center;
            }
        }

        .body3{
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            margin-bottom: 10px;
            #dat_promo_ing {
                display: flex;
                flex-direction: row; 
                gap: 5px; 
                margin: 5px;
                #precios, #dias, #upgrade, #meses{
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px 12px;
                    font-size: 7pt;
                    width: 100%;
                }
                #precio_content{
                    .numeros{
                        width: 95%;
                    }
                }
                #dias {
                    align-items: center;
                    ul{
                        list-style: none;  // Elimina los puntos de los items de lista *
                        padding: 0;        // Elimina el padding predeterminado *
                        margin: 5px 5px;         // Elimina el margen predeterminado para asegurarnos que no hay espacio extra *
                        width: 100%; // Ocupa el ancho completo para centrar los botones internamente *
                        display: flex; // Utiliza flex para facilitar la alineación *
                        flex-direction: column; // Alinea los elementos verticalmente *
                        font-size: 7pt;
                    }
                    li{
                        list-style: none;  // Asegura que no hay marcadores de lista *
                        width: 100%; // Ocupa el ancho completo para mejor alineación *
                        display: flex; // Utiliza flexbox para facilitar la alineación *
                        align-items: center; // Alinea verticalmente los elementos *
                    }
                }
                #meses{
                    .content_meses{
                        margin-top: 4px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        .ini, .fin{
                            display: flex;
                            flex-direction: row;
                            span{
                                width: 40px;
                                display: flex; // Utiliza flexbox para facilitar la alineación *
                                align-items: center; // Alinea verticalmente los elementos *
                            }
                            .numeros{
                                margin-top: 0;
                                width: 100%;
                            }
                        }
                        .fin{
                            margin-top: 4px;
                        }
                    }
                }
            }
        }

        .body_pa{
            display: flex;
            flex-direction: column;
            padding: 5px;
            .permitir_pa{
                display: flex;
                justify-content: center;
                margin-bottom: 4px;
                span{
                    display: flex; // Utiliza flexbox para facilitar la alineación *
                    align-items: center; // Alinea verticalmente los elementos *
                }
            }
        }
    }
}
.invalid {
    border: 1px solid red;
}
  
.error-message {
    color: red;
    font-size: 7pt;
}