#men{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #button_CD{
        background: none;
        border: none;
        text-decoration: none;
        color: #333;
        padding: 15px 20px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        border-radius: 10px;
        border: 1px solid #ccc;
        z-index: 1;
        position: relative;

        #dropDown{
            display: none;
            position: absolute;
            width: 175px;
            min-height: 315px;
            overflow: auto;
            background-color: #f9f9f9f9;
            border-radius: 10px;
            top: 105%;
            left: 0;

            ul{
                list-style: none;
                padding: 0px;
                margin: 0px;
                display: flex;
                gap:10px;
                flex-direction: column;

                .btns{
                    width: 175px;
                    background: none;
                    border: none;
                    text-decoration: none;
                    cursor: pointer;
                    //
                    color:#000000;
                    padding: 15px 30px;
                    display: block;
                    border-radius: 10px;
                    z-index: 2;
                    position: relative;

                    &:hover{
                        background-color: #eee;
                    }
                }
            }
        }

        &:hover{
            background-color: #eee;
            border: 1px solid #000000;
            #dropDown{
                display: block;
            }
        }
        #dropDown:hover{
            display: block;
        }
    }

    #button_CP{
        background: none;
        border: none;
        text-decoration: none;
        color: #333;
        padding: 15px 20px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        z-index: 1;

        &:hover{
            background-color: #eee;
        }
    }
}