<div id="content">
    <div id="waitCharge" *ngIf="checkSDLoading()">
        Por favor espera, Los datos se estan Cargando. Si notas latencia Informa a Cesar Gracia de TI
    </div>
    <table id="principalTable" *ngIf="!checkSDLoading()">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre de la Promocion</th>
                <th>Inicio y Fin de Promocion</th>
                <th>Datos Promocionales</th>
                <th>Enviar</th>
            </tr>
        </thead>
        <tbody>
            <tr id="getData" *ngFor="let row of rows; let i = index" [attr.id]="'row-' + (i + 1)">
                <td>{{ row.id+1 }}</td>
                <td>
                    <input class="nom_promo" type="text" name="_V1" [(ngModel)]="row._V1" 
                    placeholder="Ing. el Nombre para la promocion"/>
                    
                </td> 
                <td>
                    <table class="fechas_promo">
                        <tr class="fini">
                            <td><span>Inicio</span></td>
                            <td class="inputDate">
                                <input type="date" name="_V2" [(ngModel)]="row._V2" (ngModelChange)="row.errorV2 = validateV2(row)" />
                                <span *ngIf="row.errorV2" class="error">{{ row.errorV2 }}</span>
                            </td>
                        </tr>
                        <tr class="ffin">
                            <td><span>Fin</span></td>
                            <td class="inputDate">
                                <input type="date" name="_V3" [(ngModel)]="row._V3" [disabled]="!row._V2" (ngModelChange)="row.errorV3 = validateV3(row)" />
                                <span *ngIf="row.errorV3" class="error">{{ row.errorV3 }}</span>
                            </td>
                        </tr>
                    </table>
                </td>    
                <td>
                    <button id="button" (click)="openModalDatosPromocionales(i)">Abrir</button>
                </td>
                <td>
                    <button id="button">Enviar</button>
                </td>
            </tr>
            <tr class="mas" (click)="addRow()">
                <td>+</td>
                <td colspan="5"></td> <!-- Extiende la celda sobre las siguientes 9 columnas -->
            </tr>
       </tbody>
    </table>
    <app-modal-data-promocional />
</div>