#content {
    padding: 10px 10px;
    height: 95%;
    overflow: auto; /* Añadimos scroll si se excede el contenido */

    #principalTable {
        width: 100%; /* Aseguramos que ocupe todo el contenedor */
        border-collapse: collapse; /* Elimina el espacio entre bordes de celdas */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333; /* Color de texto oscuro para mejor contraste */

        thead {
            background-color: #f709eb9c;
            color: #ffffff; /* Texto blanco para la cabecera */
            font-size: 11pt; /* Un tamaño de fuente más grande y legible */
        }

        th, td {
            padding: 12px 15px; /* Espaciado adecuado en las celdas */
            border-bottom: 1px solid #dddddd; /* Línea divisoria sutil */
            text-align: left; /* Alineación de texto a la izquierda */

        }
        td {
            text-align: center; /* Centramos el contenido de las celdas horizontalmente */
            vertical-align: middle; /* Centramos el contenido de las celdas verticalmente */

            input.nom_promo{
                width: 250px;
                height: 30px;
                border: 0.5px solid #615a5a;
                border-radius: 4px;
                text-align: center;
            }

            table.fechas_promo {
                margin: 0 auto; /* Centra la tabla dentro de la celda */
                td {
                    padding: 0;
                    input {
                        width: 250px;
                        height: 20px;
                        border: 0.5px solid #615a5a;
                        border-radius: 4px;
                        text-align: center;
                    }
                }
                tr.fini td {
                    border-bottom: none; /* Elimina el borde del último elemento */
                }
            }

            #button {
                display: block; /* Hace que los botones se comporten como bloques */
                margin: 0 auto; /* Centra los botones horizontalmente */
                text-align: center; /* Alinea el texto dentro del botón al centro */
                cursor: pointer; /* Indica que es un elemento interactivo */
                padding: 8px; /* Más espacio dentro del select */
                border: 1px solid #ccc; /* Borde sutil */
                border-radius: 4px; /* Bordes ligeramente redondeados para el select */
                width: 200px; /* Hace que el select ocupe todo el espacio de la celda */
                box-sizing: border-box; /* Incluye el padding y border en el ancho total */
                background-color: #ffffff;;
                &:hover {
                    background-color: #eee;
                }
            }
        }

        td.inputDate{
            display: flex;
            flex-direction: column;
            .error {
                color: red;
                font-size: 6pt;
            }
        }

        th {
            position: relative; /* Hace que la cabecera sea fija */
            top: 0; /* Fija la cabecera en la parte superior */
            z-index: 10; /* Asegura que la cabecera se muestre sobre el contenido */
            text-align: center;
        }

        tr:last-child td {
            border-bottom: none; /* Elimina el borde del último elemento */
        }

        tr.mas td {
            cursor: pointer; /* Indica que es un elemento interactivo */
            text-align: center; /* Centra el contenido de '+', en caso de agregar funcionalidad */
            background-color: #f0f0f0; /* Fondo distinto para resaltar la acción */
            &:hover {
                background-color: #e4e4e4;
            }
        }

        tr:hover {
            background-color: #f4f4f4;
        }

        thead tr:hover {
            background-color: #a12987; /* Color de fondo para la cabecera */
        }
    }
}