#content {
    padding: 10px 10px;
    height: 97.6%;
    overflow: auto; /* Añadimos scroll si se excede el contenido */
    // padding: 20px;
    // height: auto; /* Cambiado para un manejo automático */
    // overflow: auto; /* Solo scroll vertical */
    // max-height: 540px;
    // background: #f9f9f9; /* Color de fondo más claro */
    // border-radius: 8px; /* Bordes redondeados para el contenedor */
    // box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
}

@media (min-width: 1919px) and (min-height: 1079px) {
    #content {
        max-height: 940px;
    }
}

#principalTable {
    width: 100%; /* Aseguramos que ocupe todo el contenedor */
    border-collapse: collapse; /* Elimina el espacio entre bordes de celdas */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; /* Color de texto oscuro para mejor contraste */
}

#principalTable #checkbox_container {
    font-size: 5pt;
}

#principalTable thead {
    background-color: #7e08df62; /* Color de fondo para la cabecera */
    color: #ffffff; /* Texto blanco para la cabecera */
    font-size: 14px; /* Un tamaño de fuente más grande y legible */
}

#principalTable th, #principalTable td {
    padding: 12px 15px; /* Espaciado adecuado en las celdas */
    border-bottom: 1px solid #dddddd; /* Línea divisoria sutil */
    text-align: left; /* Alineación de texto a la izquierda */

}

#principalTable th {
    position: relative; /* Hace que la cabecera sea fija */
    top: 0; /* Fija la cabecera en la parte superior */
    z-index: 10; /* Asegura que la cabecera se muestre sobre el contenido */
    text-align: center;
}

#principalTable tr:last-child td {
    border-bottom: none; /* Elimina el borde del último elemento */
}

select {
    padding: 8px; /* Más espacio dentro del select */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes ligeramente redondeados para el select */
    font-size: 7pt; /* Tamaño de fuente más grande para select */
    width: 100%; /* Hace que el select ocupe todo el espacio de la celda */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

tr.mas td {
    cursor: pointer; /* Indica que es un elemento interactivo */
    text-align: center; /* Centra el contenido de '+', en caso de agregar funcionalidad */
    background-color: #f0f0f0; /* Fondo distinto para resaltar la acción */
}

/* Efectos de hover para mejorar la interacción */
#principalTable tr:hover {
    background-color: #f4f4f4;
}

#principalTable thead tr:hover {
    background-color: #dd3fc862; /* Un azul ligeramente más oscuro al pasar el mouse */
}

#button {
    display: block; /* Hace que los botones se comporten como bloques */
    margin: 0 auto; /* Centra los botones horizontalmente */
    text-align: center; /* Alinea el texto dentro del botón al centro */
    cursor: pointer; /* Indica que es un elemento interactivo */
    padding: 8px; /* Más espacio dentro del select */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes ligeramente redondeados para el select */
    font-size: 7pt; /* Tamaño de fuente más grande para select */
    width: 100%; /* Hace que el select ocupe todo el espacio de la celda */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    background-color: #ffffff;;
}

// --

.dropdown {
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    width: 100%; /* Asegura que el contenedor del dropdown toma el ancho completo */

    background-color: #f9f9f9f9;
    border-radius: 10px;
    &.closing {
    transition: max-height 0.3s ease-out; // Transición más rápida para cerrar
    }
}

.dropdown.show {
    max-height: 1000px; /* Un valor suficientemente alto para mostrar todo el contenido */
}

/* Estilos para eliminar el padding y los marcadores de lista */
.dropdown ul {
    list-style: none;  /* Elimina los puntos de los items de lista */
    padding: 0;        /* Elimina el padding predeterminado */
    margin: 0;          /* Elimina el margen predeterminado para asegurarnos que no hay espacio extra */
    width: 100%; /* Ocupa el ancho completo para centrar los botones internamente */
    display: flex; /* Utiliza flex para facilitar la alineación */
    flex-direction: column; /* Alinea los elementos verticalmente */
    font-size: 7pt;
}
  
.dropdown li {
    list-style: none;  /* Asegura que no hay marcadores de lista */
    width: 100%; /* Ocupa el ancho completo para mejor alineación */
    display: flex; /* Utiliza flexbox para facilitar la alineación */
}

// --- Modal

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    animation: doorOpen 0.5s;
}

.modal-header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    .modal-header span {
        flex: 1; /* Asegura que el título ocupe todo el espacio posible a la izquierda */
    }
    
}

.modal-body {
    padding: 20px;
    font-size: 9pt;
    text-align: center;
    display: flex; /* Establece el modal-body como contenedor Flex */
    flex-direction: row; /* Alinea los elementos hijos en fila */
    text-align: left;
    gap: 20px;

    #ciudades_checklist, #sectores_checklist {
        flex: 1; /* Asigna el mismo espacio a cada columna */
        display: flex; /* Hace que cada checklist sea también un contenedor flex */
        flex-direction: column; /* Alinea verticalmente los contenidos internos */
        display: flex;
        flex-direction: column;
        width: 100%; /* Asegura que el contenedor del dropdown toma el ancho completo */
        border-radius: 10px;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 5px 5px;
    }

    #ciudades_checklist ul, #sectores_checklist ul{
        list-style: none;  /* Elimina los puntos de los items de lista */
        padding: 0;        /* Elimina el padding predeterminado */
        margin: 5px 5px;          /* Elimina el margen predeterminado para asegurarnos que no hay espacio extra */
        width: 100%; /* Ocupa el ancho completo para centrar los botones internamente */
        display: flex; /* Utiliza flex para facilitar la alineación */
        flex-direction: column; /* Alinea los elementos verticalmente */
        font-size: 6pt;
    }

    #ciudades_checklist li, #sectores_checklist li{
        list-style: none;  /* Asegura que no hay marcadores de lista */
        width: 100%; /* Ocupa el ancho completo para mejor alineación */
        display: flex; /* Utiliza flexbox para facilitar la alineación */
        align-items: center; /* Alinea verticalmente los elementos */
    }

    #ciudades_checklis #button{
        margin: 20px 10px;
    }
}

.door-open {
    animation-name: doorOpen;
}

@keyframes doorOpen {
    0% { transform: translate(-50%, -50%) rotateY(90deg); }
    100% { transform: translate(-50%, -50%) rotateY(0deg); }
}