<div id="content">
    <div id="waitCharge" *ngIf="checkSDLoading() || checkTSDLoading() || checkPDLoading() || checkBDLoading() || checkMPDLoading()">
        Por favor espera, Los datos se estan Cargando. Si notas latencia Informa a Cesar Gracia de TI
    </div> 
    <table id="principalTable" *ngIf="!checkSDLoading() && !checkTSDLoading() && !checkPDLoading() && !checkBDLoading() && !checkMPDLoading()">
        <thead>
            <tr>
                <th>#</th>
                <th>Servicio</th>
                <th>Tipo de Servicio</th>
                <th>Red</th>
                <th>Plan</th>
                <th>Forma de Pago</th>
                <th>Buro</th>
                <th>Provincia</th>
            </tr>
        </thead>
        <tbody>
            <tr id="getData" *ngFor="let row of rows">
                <td>{{ row.id }}</td>
                <td>
                    <select name="_V1" [(ngModel)]="_V1" (ngModelChange)="getDataREDT(_V1, _V2); getDataPLAN(_V1, _V2,_V3)">
                        <option value="">Elija el Servicio</option>
                        <option *ngFor=" let servicio of serviciosData" [value]="servicio" >{{servicio}}</option>
                    </select>
                </td>
                <td>
                    <select name="_V2" [(ngModel)]="_V2" (ngModelChange)="getDataREDT(_V1, _V2); getDataPLAN(_V1, _V2,_V3)">
                        <option value="">Elija el T. Servicio</option>
                        <option *ngFor=" let tiposervicio of tiposervicioData" [value]="tiposervicio" >{{tiposervicio}}</option>    
                    </select>
                </td>
                <td>
                    <select name="_V3" [(ngModel)]="_V3" (ngModelChange)="getDataPLAN(_V1, _V2,_V3)">
                        <option value="">Elije una Red</option>
                        <option value="" *ngIf="redData.length === 0 && !_V1 || !_V2">Selecc. antes los otros elementos</option>
                        <option value="" *ngIf="redData.length === 0 && _V1 && _V2">Cargando Datos..</option>
                        <option *ngFor="let red of redData" [value]="red">{{red}}</option>
                    </select>
                </td>
                <td>
                    <select name="_V4" [(ngModel)]="_V4">
                        <option value="">Elije un Plan</option>
                        <option value="" *ngIf="planData.length === 0 && !_V1 || !_V2 || !_V3">Selecc. antes los otros elementos</option>
                        <option value="" *ngIf="planData.length === 0 && _V1 && _V2 && _V3">Cargando datos...</option>
                        <option *ngFor=" let plan of planData" [value]="plan.TARIFFPLANVARIANTID" >{{plan.TARIFFPLANVARIANT}}</option>
                    </select>
                </td>
                <td>
                    <select name="_V5" [(ngModel)]="_V5">
                        <option value="">Elije Forma Pago</option>
                        <option *ngFor=" let mdpg of modoPagosData" [value]="mdpg.ID">{{mdpg.NAME}}</option>
                    </select>
                </td>
                <td>
                    <select name="_V6" [(ngModel)]="_V6">
                        <option value="">Buro</option>
                        <option *ngFor=" let buro of buroData" [value]="buro.ID">{{buro.NAME}}</option>
                    </select>
                </td>
                <td>
                    <select name="_V7" [(ngModel)]="_V7">
                        <option value="">Provincia</option>
                        <option *ngFor=" let provincia of provinciaData" [value]="provincia.PROVINCIA_ID">{{provincia.PROVINCIA}}</option>
                    </select>
                </td>
            </tr>
            <tr class="mas" (click)="addRow()">
                <td>+</td>
                <td colspan="9"></td> <!-- Extiende la celda sobre las siguientes 9 columnas -->
            </tr>
        </tbody>
    </table>
</div>