<div id="content">
    <div id="waitCharge" *ngIf="checkSDLoading()">
        Por favor espera, Los datos se estan Cargando. Si notas latencia Informa a Cesar Gracia de TI
    </div>
    <table id="principalTable" *ngIf="!checkSDLoading()">
        <thead>
            <tr>
                <th>#</th>
                <th>Servicio</th>
                <th>TariffPlan</th>
                <th>Variant</th>
                <th>Producto</th>
                <th>Forma de Pago</th>
                <th>Buro</th>
                <th>Ciudad y Sectores</th>
                <th>Datos Promocion</th>
            </tr>
        </thead>
        <tbody>
            <tr id="getData" *ngFor="let row of rows; let i = index" [attr.id]="'row-' + (i + 1)">
                <td>{{ row.id }}</td>
                <td>
                    <select name="_V1" [(ngModel)]="row._V1" (ngModelChange)="getDataPLAN(row._V1, i)">
                        <option value="">Elija el Servicio</option>
                        <option *ngFor=" let servicio of serviciosData" [value]="servicio" >{{servicio}}</option>
                    </select>
                </td>
                <td>
                    <select name="_V2" [(ngModel)]="row._V2" (ngModelChange)="getDataPLANVARIANT(row._V2, i)">
                        <option value="">Elija un Plan</option>
                        <option value="" *ngIf="planData[i].length === 0 && !row._V1">Selecc. antes los otros elementos</option>
                        <option value="" *ngIf="planData[i].length === 0 && row._V1">Cargando Datos..</option>
                        <option *ngFor=" let plan of planData[i]" [value]="plan.TARIFFPLANID" >{{plan.TARIFFPLAN}}</option>    
                    </select>
                </td>
                <td>
                    <select name="_V3" [(ngModel)]="row._V3" (ngModelChange)="getDataPROD(row._V3, i)">
                        <option value="">Elija un Plan Variant</option>
                        <option value="" *ngIf="planVData[i].length === 0 && !row._V2">Selecc. antes los otros elementos</option>
                        <option value="" *ngIf="planVData[i].length === 0 && row._V2">Cargando Datos..</option>
                        <option *ngFor=" let planV of planVData[i]" [value]="planV.TARIFFPLANVARIANTID" >{{planV.TARIFFPLANVARIANT}}</option>    
                    </select>
                </td>
                <td>
                    <select name="_V4" [(ngModel)]="row._V4">
                        <option value="">Elija un Producto</option>
                        <option value="" *ngIf="productosData[i].length === 0 && !row._V2">Selecc. antes los otros elementos</option>
                        <option value="" *ngIf="productosData[i].length === 0 && row._V2">Cargando Datos..</option>
                        <option *ngFor=" let prod of productosData[i]" [value]="prod.PRODUCTID" >{{prod.PRODUCTO}}</option>    
                    </select>
                </td>
                <td>
                    <button id="button" (click)="toggDD(i, 'MP')">Forma de Pago</button>
                    <div [ngClass]="{'show': showMDPDD[i], 'closing': closing}" class="dropdown">
                        <ul>
                            <li *ngFor="let mdpg of modoPagosData[i]">
                                <input type="checkbox" name="_V5" [(ngModel)]="mdpg.selected" [value]="mdpg.ID" />{{ mdpg.NAME }} 
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <button id="button" (click)="toggDD(i, 'B')">Buro de Credito</button>
                    <div [ngClass]="{'show': showBDD[i], 'closing': closing}" class="dropdown">
                        <ul>
                            <li *ngFor="let buro of buroData[i]">
                                <input type="checkbox" name="_V6" [(ngModel)]="buro.selected" [value]="buro.ID"/>{{buro.NAME}}
                            </li>
                        </ul>

                    </div>
                </td>
                <td>
                    <button id="button" [disabled]="!button_V1_V7(row, i)" (click)="openModal(i,'CS')">Seleccionar</button>
                </td>
                <td>
                    <button id="button" (click)="openModal(i, 'DP')">Elejir</button>
                </td>
            </tr>
            <tr class="mas" (click)="addRow()">
                <td>+</td>
                <td colspan="11"></td> <!-- Extiende la celda sobre las siguientes 9 columnas -->
            </tr>
        </tbody>
    </table>
    <div *ngIf="modal_cs" class="modal_cs" [ngClass]="{'door-open': modal_cs}" id="modal_cs-{{ rowId+1 }}">
        <div class="modal-header">
            <span class="modal-title">Seleccionar Ciudades y Sectores - F# {{rowId+1}}</span>
            <button class="close-button" (click)="closeModal('CS')">×</button>
          </div>
        <div class="modal-body">
            <div id="content_ciudades_checklist">
                <div id="ciudades_checklist">
                    <span>Ciudades</span>
                    <ul>
                        <li *ngFor="let city of ciudadData[rowId]">
                            <input type="checkbox" [(ngModel)]="city.selected" [value]="city.CIUDAD_ID" />{{ city.CIUDAD }}
                        </li>
                    </ul>
                </div>
                <button id="button"[disabled]="!button_search_sect(rowId)" (click)="buscarSectores()">Buscar Sectores</button>
            </div>
            <div id="content_sectores_checklist">
                <div id="sectores_checklist">
                    <span>Sectores</span>
                    <ul>
                        <li *ngFor="let sect of sectoresData[rowId]">
                            <input type="checkbox" [(ngModel)]="sect.selected" [value]="sect.SECTOR_ID"/>{{sect.SECTOR}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="modal_dp" class="modal_dp" [ngClass]="{'door-open': modal_dp}" id="modal_dp-{{rowId+1}}">
        <div class="modal-header">
          <span class="modal-title">Datos de Promocion - F# {{rowId+1}}</span>
          <button class="close-button" (click)="closeModal('DP')">×</button>
        </div>
        <div class="modal-body">
          <div id="dat_promo">
            <div id="dat_promo_ing">
                <div id="precios">
                    <span>Precios</span>
                    
                </div>
                <div id="dias">
                    <span>Dias Gozados</span>
                    <div id="checklist">
                        <ul>
                            <li>
                                <input type="checkbox" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="upgrade">
                    <span>UPGRADE</span>
                </div>
            </div>
            <div id="dat_promo_butt">
                <button class="btn_npro">Enviar</button>
                <button class="enviar">Promoción Adicional</button>
            </div>
          </div>
          <div id="pro_adici">
            <div id="streaming">
                <label>streaming</label>
            </div>
            <div id="telefonia">
                <label>Telefonia</label>
            </div>
            <div id="television">
                <label>Television</label>
            </div>
            <div id="router">
                <label>Router</label>
            </div>
          </div>
          <div class="modal_dp_button">

          </div>
        </div>
    </div>
</div>